:root {
  --primary-color: #46431f;
  --secondary-color: #ffd700;
  --game-width: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 1rem/1.5 "Arial", sanf-serif;
  color: #fff;
  overflow-x: hidden;
  /* padding-bottom: 50px; */
}

.container {
  background: url("assets/images/starry_sky.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  width: 100%;
  height: 10vh;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: var(--primary-color);
  opacity: 0.7;
}

header * {
  z-index: 10;
}

header i {
  display: inline-block;
  padding: 0 5px;
  transform: scale(0.8);
}

.game-area {
  height: 88vh;
  width: var(--game-width);
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  margin: 5px auto;
  border: 1px var(--secondary-color) solid;
  border-radius: 5px;
}

.info-area {
  height: 86vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info-area button {
  display: inline-block;
  margin-top: 100px;
  background-color: var(--secondary-color);
  color: #333;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.info-area button:hover {
  background-color: #fff;
  color: #333;
}

.defender-ship {
  position: absolute;
  color: #fff;
  height: 50px;
  width: 50px;
  /* game-area - ship height */
  top: calc(88vh - 50px);
  /* left: 225px; */
  transition: 0.1s ease-in-out;
}
